.text-green {
  color: #16b016;
}

.white-color {
  color: white;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4c5caf;
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.keyword-badge {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}
.keyword-badge .remove-btn {
  margin-left: 5px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

